body {
  font-family: "Zalando Sans Expanded", "Pretendard Variable";
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

#TBox {
    margin: 60px;
    text-align: center;
}

#Title {
    color: #ff0010;
    font-weight: 450;
    font-size: 100px;
}

#SubTitle {
    font-size: 50px;
}

img {
    max-width: 400px;
}

button {
    font-size: 35px;
}

#sn {
    margin-right: 15px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #ff0010;
    background-color: white;
    color: #ff0010;
}

#su {
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #ff0010;
    background-color: #ff0010;
    color: #ffffff;
}

#CBOX {
    margin: 0 auto;
    width: 500px;
    padding: 70px;
    border-radius: 10px;
    border: solid;
    border-color: #ff0010;
    margin-top: 50px;
}

#Lid {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #ff0010;
}

#Lip {
    box-shadow: none;
    padding: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
    outline: solid;
    border: none;
    outline-color: #ff0010;
    color: #ff0010;
}

#Lip:focus {
    border-color: #ff0010;
}

#Lip::placeholder {
    color: rgb(255, 255, 255);
}

#LogInBox {
    margin: 50px;
    scale: 1.5;
}

#plus {
    width: 350px;
}

#checkbox {
    border-color: black;
}